body {
    font-family: "Kanit", sans-serif;
    font-family: "Montserrat", sans-serif;
    background: #e5e5e5;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px 0px #0000001a;
}

/* Main */

.main-block {
    background: white;
    margin: 102px 5px 40px 88px;
}

.project-block {
    background: white;
    margin: 20px 20px 20px 88px;
    /* padding: 40px; */
}

.project-list {
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.we-list {
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.work-block {
    background: white;
    margin: 51px 20px 20px 88px;
}

.edu-block {
    background: white;
    margin: 43px 20px 20px 88px;
}

.date {
    margin: 11px 0px 8px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 12px;
    color: #a8a8a8;
}

.title_style {
    color: #fb6d3a;
}

.edu_style {
    margin: 0px 0px 8px 0px;
    padding: 0 0 0 0;

    color: #fb6d3a;
}

.line_style {
    color: #000000;
}

/* .description {
    color: rgb(19, 22, 221);
} */

/* Sidebar */

aside {
    width: 370px;
    margin: 0px 0px 0px 40px;
    background: #1e2939;
    color: #ffffff;
}

.cv_img {
    margin: 40px 0 0 0;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.side_desctiption {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
}

.sidebar_list {
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    color: #ffffff;
}

ul.sidebar_list {
    list-style: none;
}

ul.sidebar_list li::before {
    content: "\2022";
    color: #fb6d3a;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.contacts_styles {
    margin-top: 51px;
    margin-left: 40px;
}

.tech_styles {
    margin-top: 47px;
    margin-left: 40px;
}

.soft_styles {
    margin-top: 44px;
    margin-left: 40px;
}

a {
    color: grey;
}

a:hover {
    color: green;
}

a:visited {
    color: grey;
}

a:active {
    color: brown;
}
